name: test-ci
on:
  push:
    branches-ignore:
      - "master"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: install
        run: npm ci
      - name: test
        run: npm test
